/* Кнопка "Create New Task" */
.create-task-btn {
    background-color: #28a745;
    border: 3px solid #218838;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 1.1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-task-btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.create-task-btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.create-task-btn .plus-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    display: inline-block;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.create-task-btn:hover .plus-icon {
    transform: rotate(0deg);
}

/* Карточка завдання */
.task-card {
  background-color: #f2f2f2;
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid #a7a7a7;
  transition: box-shadow 0.3s ease;
}

/* Зміна тіні при наведенні */
.task-card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Заголовок завдання */
.task-title {
    margin-right: 10px;
    font-weight: bold;
    color: #2D3A3A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Опис завдання */
.task-description {
    color: #4A4A4A;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* Інформація про термін і пріоритет */
.task-info {
    margin-top: 10px;
}

.task-info p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #4A4A4A;
}

.task-info strong {
    color: #333;
}

.task-priority-high {
    color: red;
    background-color: #f8d7da;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.8rem;
}

.task-priority-medium {
    color: #856404;
    background-color: #fff3cd;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.8rem;
}

.task-priority-low {
    color: #155724;
    background-color: #d4edda;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.8rem;
}

/* Дії над завданням */
.task-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Кнопки */
.task-btn-complete,
.task-btn-modify,
.task-btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    height: 45px;
    line-height: 40px;
}

/* Кнопка "Complete" */
.task-btn-complete {
    background-color: rgba(144, 238, 144, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.1);
    border: 1px solid rgba(144, 238, 144, 0.7);
}

.task-btn-complete:hover {
    background-color: rgba(144, 238, 144, 0.7);
    border-color: rgba(144, 238, 144, 1);
    color: 040F0F;
}

/* Кнопка "Modify" */
.task-btn-modify {
    background-color: rgba(0, 123, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
    border: 1px solid rgba(0, 123, 255, 0.7);
}

.task-btn-modify:hover {
    background-color: rgba(0, 123, 255, 0.7);
    border-color: rgba(0, 123, 255, 1);
    color: 040F0F;
}

/* Кнопка "Delete" */
.task-btn-delete {
    background-color: rgba(255, 102, 102, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 102, 102, 0.7);
}

.task-btn-delete:hover {
    background-color: rgba(255, 102, 102, 0.7);
    border-color: rgba(255, 102, 102, 1);
    color: 040F0F;
}

.task-btn-delete img {
    width: 20px;
    height: 20px;
}

/* Контейнер для фільтрів */
.filter-section {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-label {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #f5f5f5;
}

/* Стилі для форми */
.filter-form {
  background-color: #404040;
  border-radius: 20px;
  border: 3px solid #333;
  padding: 20px;
  max-width: 600px;
}

/* Кнопки фільтрації */
.filter-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Сховати радіо-кнопки */
.filter-buttons input[type="radio"] {
  display: none;
}

/* Стилізація кнопок */
.filter-btn {
  background-color: #333;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #e0e0e0;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-block;
}

/* Змінюємо фон для активних кнопок */
.filter-buttons input[type="radio"]:checked + .filter-btn {
  background-color: #4A90E2;
  border-color: #357ABD;
  color: white;
}

/* Hover ефект для всіх кнопок */
.filter-btn:hover {
  background-color: #555;
  border-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

/* Активні кнопки при натисканні */
.filter-btn:active {
  background-color: #666;
  border-color: #888;
}

/* Стиль для кнопки Filter */
.filter-submit-btn {
  background-color: #333;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 12px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
}

/* Hover ефект для кнопки Filter */
.filter-submit-btn:hover {
  background-color: #555;
  border-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

/* Активна кнопка при натисканні */
.filter-submit-btn:active {
  background-color: #666;
  border-color: rgba(255, 255, 255, 0.7);
  transform: scale(0.98);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-time {
    background-color: #555;
    color: #fff;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Центрування контейнера */
.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Відступ зверху */
    margin-bottom: 20px; /* Відступ знизу */
}

/* Пошукове поле */
.search-input {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid rgba(128, 128, 128, 0.6);
    border-radius: 20px;
    width: 500px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Зміна бордера при фокусі */
.search-input:focus {
    border-color: rgba(0, 123, 255, 0.8);
}

/* Кнопка пошуку */
.search-btn {
    background-color: rgba(128, 128, 128, 0.2);
    border: 3px solid rgba(128, 128, 128, 0.6);
    color: #040F0F;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-btn:hover {
    background-color: rgba(128, 128, 128, 0.4);
    border-color: rgba(128, 128, 128, 0.8);
}

.search-icon {
    width: 20px;
    height: 20px;
}

.no-tasks-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    color: #6c757d;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.no-tasks-message p {
    margin: 0;
}

.no-tasks-message:before {
    content: "🔍";
    font-size: 2.5rem;
    display: block;
    margin-bottom: 15px;
}
